#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#flex-container > .inline-flex-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}