#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    flex-basis: auto;
}

#flex-container > .inline-flex-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredient-group {
    display: inline-flex;
    flex-direction: column;
    margin-right: 2em;
}

.form-to-fill {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-right: 1em;
}

.validation-Error {
    display: inline-block;
    color: rgb(255, 0 ,0);
}

#submit-button {
    margin-top: 1em;
}