#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-basis: auto;
}

#flex-container > .inline-flex-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.ingredient-group {
    display: inline-flex;
    flex-direction: column;
    margin-right: 2em;
}

#submit-button {
    margin-top: 1em;
}