<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <title>styles</title>
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/main.css}">
</head>
<body>
    <div id="flex-container">
        <h1 class="inline-flex-item">Order your taco!</h1>
        <img class="inline-flex-item" th:src="@{/images/taco-100.png}">
    </div>
    <div>
        <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
            <h3>Your taco in this order:</h3>
            <a th:href="@/design" id="another">Design another taco!</a><br/>
            <ul>
                <li th:each="taco : ${tacoOrder.tacos}">
                    <span th:text="${taco.name}">taco name</span>
                </li>
            </ul>
            <h3>Deliver my tacos to...</h3>
            <label for="deliveryName">Name: </label>
            <input type="text" th:field="*{deliveryStreet}">
            <br/>
        </form>
    </div>

</body>
</html>